.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .default-text {
    color: white;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 500px;

    .input-label {
      color: #eee;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .input-field {
      padding: 12px;
      border: none;
      border-radius: 5px;
      outline: none;
      background-color: #444;
      color: #eee;

      font-family: 'Inter', sans-serif;

      &::placeholder {
        color: #999;
        font-size: 0.9rem;
      }
    }
    .input-error {
      outline: 1px solid rgb(255, 72, 72);
    }

    .error-message {
      color: rgb(255, 72, 72);
      font-size: 0.75rem;
      margin-top: 8px;
    }

    .submit-button {
      border: none;
      padding: 10px;
      border-radius: 5px;
      color: #eee;
      background-color: #49a1b8;
      font-weight: 500;
      font-size: 1rem;
      margin-top: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition: all 500ms ease;
      font-family: 'Inter', sans-serif;

      &:hover {
        cursor: pointer;
        background-color: #61dbfb;
      }
    }
  }
}
