.navigation {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #161b22;

  .logo-container {
    height: 100%;
    padding: 10px;

    &:hover {
      border-bottom: 1px solid #61dbfb;
    }

    .logo-image {
      width: 130px;
      border-radius: 50px;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid #61dbfb;
      }
    }
  }
}
