.navigation {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #161b22;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 10px;

    .logo-image {
      width: 130px;
      border-radius: 50px;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid green;
      }
    }
  }
}

// width: "120px", padding: "10px", borderRadius: "50px"
